{
    "extends": [
        "airbnb/base"
    ],
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "jwt_decode": true
    },
    "rules": {
        "max-len": [
            0,
            120,
            4
        ]
    }
}